script(src='https://www.gstatic.com/firebasejs/4.3.0/firebase.js')
script.
    var config = {
    apiKey: "AIzaSyA7cmGWJdIFAzl8JmvZoWP6EQUpfofRbbk",
    authDomain: "telos-7e9cb.firebaseapp.com",
    databaseURL: "https://telos-7e9cb.firebaseio.com",
    projectId: "telos-7e9cb",
    storageBucket: "telos-7e9cb.appspot.com",
    messagingSenderId: "755283311035"
    };
    firebase.initializeApp(config);

